@import './colorsAndFonts.scss';

.switch {
  position: fixed;
  display: inline-block;
  cursor: pointer;
  width: 10vh;
  height: 4.6vh;
  border-radius: 1rem;
  left: 1rem;
  right: auto;
  top: 1rem;
  text-align: center;
  align-content: center;
  justify-content: center;
  z-index: 1;
  @media screen and (max-device-width: 800px) and (orientation: portrait) {
    width: 5vh;
    height: 2.5vh;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  $transitionTime: 0.72s;
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: $transitionTime;
    transition: $transitionTime;
    border-radius: 1rem;
    border: solid var(--logoColor) 0.2px;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 1.75rem;
    width: 2rem;
    left: 0.5rem;
    bottom: 0.75rem;
    background-color: var(--background);
    opacity: 100%;
    -webkit-transition: $transitionTime;
    transition: $transitionTime;
    border-radius: 1rem;
    border: solid var(--grey);
    background-color: var(--logoColor);
    // background-image: url(./sun-solid.svg);
    @media screen and (max-device-width: 800px) and (orientation: portrait) {
      width: 2vh;
      height: 2vh;
      bottom: 0.2vh;
      left: 0.2vh;
    }
  }

  input:checked + .slider {
    background-color: rgb(51, 51, 51);
  }

  input:checked + .slider:before {
    //
    -ms-transform: translateX(8vh) rotate(360deg);
    @media screen and (max-device-width: 800px) and (orientation: portrait) {
      -ms-transform: translateX(2vh) rotate(360deg);
    }
    @media screen and (max-device-width: 800px) and (orientation: portrait) {
      transform: translateX(2vh) rotate(360deg);
    }
    transform: translateX(6vh) rotate(360deg);

    // background-image: url(./moon-solid.svg);
    background-color: var(--logoColor);
  }
}
