@import "./colorsAndFonts.scss";

.dashboardWrapper {
  display: flex;
  width: 100vh;
  height: 100vh;
.navBarDashboard{
  position:absolute;
  top:3%;
  left:50%;
}
  .summaryWrapper {
    width: 100%;
    overflow: hidden;
    margin-top: 2.3%;
  }

  .sidebarWrapper {
    width: 30rem;
    overflow: hidden;
  }
  #signOutButton {
    border-color: transparent;
    position: absolute;
    left: 88%;
    top: 2.5%;
    color: var(--grey);
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: $fontOfSummaryTitle;
  }
}
