@import './colorsAndFonts.scss';
.DatesMenu {
  position: absolute;
  left: 50vh;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  left: 70vh;

  #dropbtn {
    background-color: var(--logoColor);
    color: var(--grey);
    font-size: 2vh;
    border: none;
    padding: 1vh;
    color: var(--background);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 1vh;
    font-family: $fontOfMetrics;
  }
  .arrowDown {
    color: var(--background);
  }
  .arrowDown:hover {
    cursor: pointer;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdowncontent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
 
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    button {
      color: var(--grey);
      background-color: transparent;
      border:none;
      margin-top: 1vh;
      cursor: pointer;
      width: 15.5vh;
      word-wrap: break-word;
    }
  }

  /* Links inside the dropdown */
  .dropdowncontent a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdowncontent a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
  }
}
