@import './colorsAndFonts.scss';
.LandingPageWrapper {
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    flex-direction: column;
    margin-left: 50%;
    margin-top: 0;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: 10%;

  .NavBar {
    position: absolute;
    left: 73%;
    top: 4%;
    display: flex;
    gap: 5%;

    button {
      width: 7rem;
      font-size: 1em;
      background-color: transparent;
      border-color: transparent;
      border-bottom-color: var(--lightgrey);
      font-family: $fontOfMetrics;
      color: var(--grey);
    }
    button:hover {
      cursor: pointer;
    }

    #download {
      background-color: var(--logoColor);
      border-radius: 5px;
      color: var(--background);
      padding: 0.7vh;
      border: none;
    }
    #download:hover {
      cursor: pointer;
    }
  }

  .cubeAndShadow {
    display: flex;
    flex-direction: column;
    align-items: center;
    #cubeSpan {
      #cube {
        width: 16vh;
        color: var(--logoColor);
        height: 10vh;
        animation: cubeAnimation 0.6s cubic-bezier(0.5, 0.05, 1, 0.5);
        animation-direction: alternate;
        animation-iteration-count: infinite;
        @media screen and (max-device-width: 480px) and (orientation: portrait) {
          height: 5vh;
          width: 7vh;
        }
      }
    }
    #shadow {
      background-image: radial-gradient(
        rgb(80, 80, 80) 0%,
        rgb(228, 227, 227),
        rgba(150, 150, 150, 0.05)
      );
      width: 40%;
      color: transparent;
      animation: shadowGrow 0.6s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }

    @keyframes shadowGrow {
      from {
        transform: scale(0.2, 0.5);
      }

      to {
        transform: scale(1, 0.1);
      }
    }
  }
  .leftLandingPageWrapper {
    display: flex;
    gap: 1vh;
    align-items: center;
    justify-content: center;
    margin-top: 5%;

    #logo {
      margin-top: 0;
      font-family: $fontOfLogo;
      font-size: 12vh;
      color: var(--logoColor);
      @media screen and (max-device-width: 480px) and (orientation: portrait) {
        font-size: 6vh;
      }
    }

    @keyframes cubeAnimation {
      0% {
        transform: translate3d(0, -100%, 0);
      }

      100% {
        transform: translate(0, 0, 0);
      }
    }
  }

  .rightLandingPageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      width: 50%;
      text-align: center;
      font-family: $fontOfMetrics;
      font-size: 3vh;
      @media screen and (max-device-width: 480px) and (orientation: portrait) {
        width: 30vh;
        margin-bottom: 5vh;
      }
    }

    .buttonDiv {
      display: flex;
      gap: 2vh;

      button {
        animation: buttonAnimation 5s 1;
        background-color: var(--green);
        border-radius: 0.75rem;
        color: var(--background);
        border-color: transparent;
        width: 12vh;
        height: 5vh;
        font-size: 2vh;
        font-family: $fontOfButtons;
        font-weight: bold;
      }
      button:hover {
        cursor: pointer;
      }
    }

    @keyframes buttonAnimation {
      0% {
        transform: scale(0);
        color: transparent;
      }
      100% {
        transform: scale(1);
        color: var(--background);
      }
    }
  }
}

.invalidPage {
  text-align: center;
}
