@import './colorsAndFonts.scss';
.underDashboard {
  font-family: $fontOfMetrics;
  color: var(--grey);
  position: absolute;
  bottom: 3vh;
  left: 45vh;
  z-index: 1;
  -webkit-transition: 0.75s ease;
  -moz-transition: 0.75s ease;
  -o-transition: 0.75s ease;
  -ms-transition: 0.75s ease;
  transition: 0.75s ease;

  .textAndSwitch {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;

    .switch {
      position: relative;
      width: 4vh;
      height: 2vh;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      border-radius: 34px;
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--grey);
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      -ms-transition: 0.4s;
      transition: 0.4s;
      margin-bottom: 0.1vh;
    }

    .slider:before {
      position: absolute;
      content: '';
      height: 1.5vh;
      width: 1.5vh;
      left: 0.1vh;
      bottom: 0.2vh;
      background-color: var(--lightgrey);
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      -ms-transition: 0.4s;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: var(--green);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--grey);
  }

  input:checked + .slider:before {
    transform: translateX(2vh);
    -webkit-transform: translateX(2vh);
    -ms-transform: translateX(2vh);
  }

  .intervalInput {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    width: 10vh;
    font-size: 1.5vh;
    text-align: center;
  }
  input {
    width: 9vh;
    border: transparent;
    background-color: var(--lightgrey);
    color: rgb(67, 67, 67);
    height: 1.5rem;
    border-radius: 4px;
    text-align: center;
    padding-left: 1.5vh;
  }
  input:hover {
    cursor: text;
  }
  button {
    background-color: var(--green);
    color: var(--background);
    padding: 5px;
    cursor: pointer;
    font-size: 1.5vh;
    height: 3vh;
    font-family: $fontOfButtons;
    // margin-bottom: 2.5rem;
    border-color: transparent;
    border-radius: 4px;
  }
}
