@import './colorsAndFonts.scss';
.Welcome {
  position: absolute;
  right: 2vh;
  top: 1vh;
  text-align: right;
  font-size: 1.8vh;
  color: var(--grey);
  font-family: $fontOfMetrics;
  height: fit-content;
  display: flex;
  gap:1vh;
  align-items: center;
  h5{
    font-size: 2vh;
    text-decoration: underline;
  }
}
