@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// $logoRed: #ce6030;
$logoRed: #ce6030;
$background: rgb(247, 246, 240);
$background: rgb(0, 0, 0);

$summaryTitleGrey: rgb(106, 99, 99);
$hhhh: #d8d8d4;

@font-face {
  font-family: 'Marker Notes';
  src: url('./marker_notes/Marker Notes.ttf');
}

$fontOfLogo: Marker Notes;
$fontOfHomePage: Indie Flower;
$fontOfButtons: Anton;
$fontOfMetrics: Alegreya Sans SC;
$fontOfSummaryTitle: Bebas Neue;
