@import "./colorsAndFonts.scss";
#backButton {
  position: absolute;
  left: 4%;
  top: 5%;
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
  font-size: 20px;
  color: --logoColor;
  font-family: $fontOfSummaryTitle;
}
