@import './colorsAndFonts.scss';

.dashboardWrapper {
  display: flex;

  .summaryWrapper {
    width: 100%;
    overflow: hidden;
  }

  .sidebarWrapper {
    width: 20rem;
    overflow: hidden;
  }
  #signOutButton {
    background-color: var(--background);
    color: white;
    margin-left: 35%;
    margin-top: 30px;
    padding: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: $fontOfSummaryTitle;
    margin-bottom: 2.5rem;
  }
}
