@import "./colorsAndFonts.scss";

<<<<<<< HEAD
html[data-theme="light"] {
  --logoColor: #ce5f30d9; //logoRed
=======
// html {
//   transition: all 10s linear;
// }
html[data-theme='light'] {
  --logoColor: #ce6030; //logoRed
>>>>>>> 36f6fb8a65d98372618d1e8cce1c11bc243224af
  --background: rgb(247, 246, 240);
}
html[data-theme="dark"] {
  --logoColor: #ce5f30d9;
  --background: rgb(51, 51, 51);
}
body {
  background-color: var(--background);

  .dashboardWrapper {
    display: grid;
    grid-template-columns: 0.5fr 2fr;

    height: 100vh;
    margin: -10px;
  }
}
