@import "./colorsAndFonts.scss";

.GraphContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: $fontOfMetrics;
    color: $summaryTitleGrey;
  }

  .LeftMenu {
    position: absolute;
    top: 20%;
    left: 20%;
  }
  .GraphFlex {
    width: 100%;
  }

  .Graph {
    background-color: rgb(27, 27, 28);
    border-radius: 4px;
    font-family: $fontOfMetrics;
  }
}

.MultipleGraphContainer {
  h1 {
    font-family: $fontOfSummaryTitle;
    color: $summaryTitleGrey;
  }

  .LeftMenu {
    position: absolute;
    top: 20%;
    left: 5%;
    font-family: $fontOfMetrics;

    .emptySquare {
      color: rgb(182, 137, 137);
      border-radius: 4px;
      margin-right: 10px;
    }
  }

  .GraphFlex {
    margin-left: 30%;
    position: relative;
  }

  .Graph {
    background-color: rgb(27, 27, 28);
    border-radius: 4px;
    font-family: $fontOfSummaryTitle;
  }
}
