@import './colors.scss';

@font-face {
    font-family: "Marker Notes";
    src: url("./marker_notes/Marker Notes.ttf");
  }
  
#logo {
      font-family: 'Marker Notes';
      font-size: 14vh;
      color: $logoRed;
  }

#cube {
    width: 14vh;
    color: $logoRed;
    height: 14vh;

}

.leftSideWrapper {
  display: flex;
  flex-direction: column;
  
}

#logoRedis {
  width: 37vh;
  height: 37vh;
}

.logoAndCubeWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}