.RightSideLogin{
  position: absolute;
  right: 0;
  width: 50vw;
  background-color:linear-gradient(0deg, rgba(228,91,12,1) 0%, rgba(253,29,29,0.639093137254902) 50%, rgba(252,136,69,1) 93%) ;
}


#ForgotPassword {
  border-style: solid;
}

#SignUp {
  border-style: solid;
  
}

#UserLogin {
  border-style: solid;
  
}