@import './colorsAndFonts.scss';
@import './theme.scss';

.homePageWrapper {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-items: center;
  align-items: center;
  background-color: var(--background);
  background: linear-gradient(
    90deg,
    var(--background) 50%,
    var(--logoColor) 50%
  );
  height: 100vh;

  #UserLogin {
    h1 {
      color: var(--background);
      font-family: $fontOfHomePage;
    }
    .userInput {
      border: solid 5px transparent;
      border-radius: 4px;
      display: flex;
      margin-bottom: 10px;
      background-color: var(--background);
    }

    .logInButtonWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
      margin-bottom: 100px;

      #logInButton {
        font-family: $fontOfButtons;
        font-size: 17px;
        background-color: var(--background);
        border-radius: 7px;
        border-color: transparent;
        color: var(--logoColor);
        font-weight: bold;
        width: 60%;
        padding: 10px;
      }

      #forgotPasswordButton {
        background-color: transparent;
        border-color: transparent;
        color: var(--background);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 13px;
        text-decoration: underline;
      }
    }

    .signUpWrapper {
      display: flex;
      flex-direction: column;
      font-size: 15px;
      gap: 5px;
      text-align: inline;
      color: var(--background);
      font-family: $fontOfHomePage;
      padding: 5px;
      white-space: nowrap;
      justify-content: center;
      align-items: center;

      #signUpButton {
        font-family: $fontOfMetrics;
        font-size: 18px;
        background-color: transparent;
        border-radius: 7px;
        border-color: transparent;
        color: var(--background);
        font-weight: bold;
        width: 60%;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 700px) {
  .homePageWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: linear-gradient(180deg, #fefefe 30%, var(--logoColor) 30%);
  }
}
