@import './colorsAndFonts.scss';
.serverAddWrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  #addServerBtn {
    background-color: $logoRed;
    color: white;
    margin-left: 70px;
    margin-top: 30px;
    padding: 5px;
  }
  .inputWrapper {
    width: 100%;
    text-align: left;

    .indivInputs {
      display: flex;
      align-items: center;

      .errorDiv {
        font-size: 0.5rem;
        z-index: 1px;
        // position: fixed;
      }
      label {
        width: 20%;
      }
      input {
        width: 50%;
        display: flex;
        flex-direction: row;
      }
      input:focus {
        outline: none;
      }
      input:valid {
        background-color: rgb(161, 184, 161);
      }
      input:invalid {
        background-color: rgb(255, 255, 255);
      }
    }
  }
}
