.serverAddWrapper {
  border: solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  .inputWrapper {
    justify-content: space-evenly;
    border: solid blue;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }
}
