@import "./colorsAndFonts.scss";
.serverWrapper {
  display: flex;
  margin-bottom: 1rem;

  .removeServerWrapper {
    width: 2rem;
    display: flex;
    cursor: pointer;

    .removeServerDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-content: center;
      overflow: hidden;
      // color: white;
      font-weight: bolder;
      font-size: 2rem;
      transition: ease 0.5s;
    }
  }
  .server {
    display: flex;
    gap: 1rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
    // grid-template-columns: repeat(2, 0.5fr);
    align-items: center;
    // gap: 0.2%;
    // margin-top: 3rem;
    // margin-left: -2.6rem;
    border-radius: 5px;
    // border: 2px solid $summaryTitleGrey;
    // text-align: center;
    font-size: 01rem;
    width: 9rem;
    // color: var(--logoColor);
    background-color: var(--lightgrey);
    font-family: $fontOfSummaryTitle;

    #checkBox {
      position: relative;
      left: 90%;
      top: 20%;
      height: 1.2rem;
      width: 1.2rem;
    }
  }
    .serverSelected {
    display: grid;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
    // grid-template-columns: repeat(2, 0.5fr);
    align-items: center;
    // gap: 0.2%;
    // margin-top: 3rem;
    // margin-left: -2.6rem;
    border-radius: 5px;
    // border: 2px solid $summaryTitleGrey;
    // text-align: center;
    font-size: 01rem;
    width: 9rem;
    // color: var(--logoColor);
    background-color: #A1B8A1;
    font-family: $fontOfSummaryTitle;
    
    #checkBox {
      position: relative;
      left: 90%;
      top: 20%;
      height: 1.2rem;
      width: 1.2rem;
    }
  }
}
