@import "./colorsAndFonts.scss";

.sideBarWrapper {
  border-right: 5px solid var(--logoColor);

  width: 100%;
  height: 60rem;
  transition: 0.5s ease;
  color: var(--grey);
  h1 {
    color: var(--grey);
    font-family: $fontOfMetrics;
    margin-top: 5rem;
  }
  #cube {
    position: fixed;
    top: 3.5rem;
    left: 16rem;
    width: 10vh;
    color: var(--logoColor);
    height: 6vh;
    cursor: pointer;
    transition: 0.75s ease;
  }
  input {
    border-color: transparent;
    padding: 1%;
    margin: 2%;
    border-radius: 4px;
    color: var(--grey);
 
  }
  label {
    font-family: $fontOfMetrics;
    margin-left: 30px;
  }
}
