@import "./colorsAndFonts.scss";

.sideBarWrapper {
  border-right: 5px solid $logoRed;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 60rem;

  transition: 0.5s ease;

  h1 {
    color: $summaryTitleGrey;
    font-family: $fontOfSummaryTitle;
  }
  #cube {
    position: fixed;
    top: 45%;
    left: 18.5%;
    width: 10vh;
    color: $logoRed;
    height: 6vh;
    cursor: pointer;
    transition: 0.75s ease;
    z-index: 2px;
  }
  input {
    border-color: transparent;
    padding: 1%;
    margin: 2%;
    border-radius: 4px;
  }
  label {
    font-family: $fontOfMetrics;
    margin-left: 30px;
  }

}
