@import './colorsAndFonts.scss';
.SummaryWrapper {
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    font-family: $fontOfLogo;
    text-align: center;
    color: $summaryTitleGrey;
  }

  .tableWrapper {
    border-radius: 20px;
    display: grid;
    border-color: transparent;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding-top: 2%;
    padding-bottom: 4%;
    background-color: $logoRed;
    color: white;
    font-family: $fontOfMetrics;
    font-size: 3vh;

    .metrics {
      display: flex;
      flex-direction: column;
      align-items: center;
      word-wrap: break-word;
      max-width: 45%;
    }
    button {
      margin-top: 0px;
      font-size: 3vh;
      border-color: transparent;
      background-color: transparent;
      color: $background;
      font-family: $fontOfMetrics;
      word-wrap: break-word;
      max-width: 100%;
    }
  }
}
