@import './colorsAndFonts.scss';
.SummaryWrapper {
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  #loading {
    animation: slidein 1s linear infinite;
  }

  @keyframes slidein {
    // from {
    //   transform: rotate(0deg);
    // }

    100% {
      transform: rotate(360deg);
    }
  }

  h1 {
    font-family: $fontOfMetrics;
    text-align: center;
    color: var(--grey);
  }

  .tableWrapper {
    margin-top: 7%;
    border-radius: 20px;
    display: grid;
    border-color: transparent;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2%;
    column-gap: 2%;
    justify-items: center;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 7%;
    background-color: var(--logoColor);
    color: white;
    font-family: $fontOfButtons;
    font-size: 3vh;
    width: fit-content;
    font-family: $fontOfMetrics;

    .metrics {
      display: flex;
      flex-direction: column;
      align-items: center;
      word-wrap: break-word;
      max-width: 100%;
      color: var(--background);
      // justify-content: center;
    }
    button {
      margin-top: 0px;
      font-size: 3vh;
      border-color: transparent;
      background-color: transparent;
      color: var(--background);
      font-family: $fontOfMetrics;
      word-wrap: break-word;
      max-width: 100%;
    }
  }
}
